{% include 'header.html' %}

{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
    {{ message }}
    {% endfor %}
</div>
{% endif %}

{% endwith %}

<br>
<form method="post" action="/store" enctype="multipart/form-data">

    <div class="card">
        <div class="card-header">
            Funcionários
        </div>
        <div class="card-body">
            <h5 class="card-title">Dados do Funcioário</h5>
            <p class="card-text">

                <div class="form-group">
                    <label for="txtNome">Nome</label>
                    <input id="txtNome" class="form-control" type="text" name="txtNome">
                </div>

                <div class="form-group">
                    <label for="txtEmail">E-mail</label>
                    <input id="txtEmail" class="form-control" type="text" name="txtEmail">
                </div>

                <div class="form-group">
                    <label for="txtFoto">Foto</label>
                    <input id="txtFoto" class="form-control" type="file" name="txtFoto">
                </div>

              <div class="form-group">
                <input type="submit" class="btn btn-success" value="Cadastrar">
                <a href="{{url_for('home')}}" class="btn btn-primary">Voltar</a>
              </div>

            </p>
        </div>
    </div>

    

</form>
{% include 'footer.html' %}