<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for func in funcionarios  %}
                <tr>
                    <td>{{func[0] }}</td>
                    <td>{{func[3] }}</td>
                    <td>{{func[1] }}</td>
                    <td>{{func[2] }}</td>
                    <td><a href="/edit/{{func[0]}}">Editar</a> |  <a href="/delete/{{func[0]}}">Excluir</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>