{% include 'header.html' %}
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Foto</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>

            {% for func in funcionarios  %}
                <tr>
                    <td>{{func[0] }}</td>
                    <td><img class="img-thumbnail" width="100" src="uploads/{{func[3] }}" alt=""></td>
                    <td>{{func[1] }}</td>
                    <td>{{func[2] }}</td>
                    <td><a href="/edit/{{func[0]}}">Editar</a> |  <a href="/delete/{{func[0]}}">Excluir</a></td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
    {% include 'footer.html' %}